[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ssr"]
	path = ssr
	url = https://github.com/enriquegit/ssr
	shallow = true
	registered = true
